// import Bootstrap functions
@import "node_modules/bootstrap/scss/_functions.scss";

// load customized variable values
@import "bootstrap";

// compile Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
  // position: relative; // scrollspy
  overflow-x: hidden; // wow.js
}

.wow {
  visibility: hidden;
}

section {
  padding: ($spacer * 3) 0;
}

.card {
  max-width: 280px;
  margin-right: 1rem;
  ul {
    font-size: 0.85rem;
  }
}

svg {
  fill: theme-color('primary');
}

blockquote {
  border-left: ($spacer * 0.5) solid theme-color('primary');
  padding-left: 1rem;
  transition: border-color 0.3s ease-in-out;
  &:hover {
    border-color: darken(theme-color('primary'), 10%);
  }
}

// Responsive tweaks
@include media-breakpoint-up(xs) {
  html {
    font-size: $font-size-sm;
  }
  .card-columns {
    column-count: 1;
  }
}

@include media-breakpoint-up(sm) {
  // html {
  //   font-size: $font-size-sm;
  // }
}

@include media-breakpoint-up(md) {
  html {
    font-size: $font-size-base;
  }
  .card-columns {
    column-count: 2;
  }
  // .navbar {
  //   transition: padding 0.3s ease-in-out;
  //   &.shrink {
  //     padding-top: 0;
  //     padding-bottom: 0;
  //   }
  // }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: $font-size-lg;
  }
}

@include media-breakpoint-up(xl) {
  .card-columns {
    column-count: 3;
  }
}
