// import Bootstrap functions
@import "node_modules/bootstrap/scss/_functions.scss";

// load customized variable values
@import "bootstrap";

// compile Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
  overflow-x: hidden; // wow.js
}

.wow {
  visibility: hidden;
}

section {
  padding: ($spacer * 3) 0;
}

.card {
  max-width: 280px;
  margin-right: 1rem;
  ul {
    font-size: 0.85rem;
  }
  .card-footer {
    padding-top: 0;
    border: none;
  }
}

svg {
  fill: theme-color('primary');
}

blockquote {
  border-left: ($spacer * 0.5) solid theme-color('primary');
  padding-left: 1rem;
  transition: border-color 0.3s ease-in-out;
  &:hover {
    border-color: darken(theme-color('primary'), 10%);
  }
}

// Responsive tweaks
@include media-breakpoint-down(sm) {
  html {
    font-size: $font-size-sm;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: $font-size-base;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: $font-size-lg;
  }
}
