extends layouts/default

block content

  section#home.py-3
    h1.pt-5.pt-4.display-2.wow.slideInRight Hi, I'm David
    h3.display-5.wow.fadeInDown(data-wow-delay='2s')
      | UX designer &amp; developer
    blockquote.blockquote.mt-3.py-1.wow.fadeInRight(data-wow-delay='3s')
      p.text-nowrap
        | To simplify means<br>
        strike to eliminate the unnecessary so that
        br
        |  the necessary may speak.
        br
        cite
          strike &ensp;Hans Hofmann
          br
          | &ndash; David Monson

  section#portfolio.clearfix.py-3.wow.fadeInUp(data-wow-delay='5s')
    h2.display-4 Portfolio
    .card-columns
      .card.mb-3
        img.card-img-top.img-fluid(src='images/sis-newcase.png')
        .card-block
          h5.card-title Surgical Information Sciences
          h6.card-subtitle.mb-1.text-muted Pug
          ul.list-unstyled
            li Bootstrap
            li Material Design
            li HTML &amp; CSS
          a.btn.btn-secondary(href='#' target='_blank') Visit site
      .card.mb-3
        img.card-img-top.img-fluid(src='images/homesforheroes.png')
        .card-block
          h5.card-title Homes For Heroes®
          h6.card-subtitle.mb-1.text-muted WordPress
          ul.list-unstyled
            li Audit
            li Design
            li PHP, HTML &amp CSS
            li A/B Testing
            li Search Engine Optimization
          a.btn.btn-secondary(href='http://homesforheroes.com/' target='_blank') Visit site
      .card.mb-3
        img.card-img-top.img-fluid(src='images/chrlieco.png')
        .card-block
          h5.card-title Charlie
          h6.card-subtitle.mb-1.text-muted Nunjucks
          ul.list-unstyled
            li Bootstrap
            li HTML &amp; CSS
          a.btn.btn-secondary(href='http://chrlieco.com/' target='_blank') Visit site
      .card.mb-3
        img.card-img-top.img-fluid(src='images/bringmethenews.png')
        .card-block
          h5.card-title BringMeTheNews
          h6.card-subtitle.mb-1.text-muted WordPress
          ul.list-unstyled
            li CMS Maintenance
            li Feature Design
            li Development
            li Email Marketing
          a.btn.btn-secondary(href='http://bringmethenews.com/' target='_blank') Visit site
      .card.mb-3
        img.card-img-top.img-fluid(src='images/northernbrewer.png')
        .card-block
          h5.card-title Northern Brewer
          h6.card-subtitle.mb-1.text-muted Magento
          ul.list-unstyled
            li CMS maintainence
            li HTML &amp; CSS
            li Digital Marketing
          a.btn.btn-secondary(href='http://northernbrewer.com/' target='_blank') Visit site
      .card.mb-3
        img.card-img-top.img-fluid(src='images/midwestsupplies.png')
        .card-block
          h5.card-title Midwest Supplies
          h6.card-subtitle.mb-1.text-muted Magento
          ul.list-unstyled
            li CMS maintainence
            li HTML &amp; CSS
            li Digital Marketing
          a.btn.btn-secondary(href='http://midwestsupplies.com/' target='_blank') Visit site
      .card.mb-3
        img.card-img-top.img-fluid(src='images/bigmouthbubbler.png')
        .card-block
          h5.card-title Big Mouth Bubbler®
          h6.card-subtitle.mb-1.text-muted WordPress
          ul.list-unstyled
            li Audit
            li PHP, HTML &amp CSS
            li Search Engine Optimization
          a.btn.btn-secondary(href='http://bigmouthbubbler.com/' target='_blank') Visit site
      .card.mb-3
        img.card-img-top.img-fluid(src='images/discountfilterstore.png')
        .card-block
          h5.card-title DiscountFilterStore
          h6.card-subtitle.mb-1.text-muted Magento
          ul.list-unstyled
            li User Experience
            li Multivariate Testing
            li HTML &amp; CSS
            li jQuery
            li CMS maintainence
          a.btn.btn-secondary(href='http://discountfilterstore.com/' target='_blank') Visit site
      .card.mb-3
        img.card-img-top.img-fluid(src='images/mitchellakerfarmers.png')
        .card-block
          h5.card-title Mitchell Aker &ndash; Farmers Insurance Agent
          h6.card-subtitle.mb-1.text-muted Pug
          ul.list-unstyled
            li Bootstrap
            li HTML &amp; CSS
            li Hosting
          a.btn.btn-secondary(href='http://bringmethenews.com/' target='_blank') Visit site
      .card.mb-3
        img.card-img-top.img-fluid(src='images/mspmag-blogs.png')
        .card-block
          h5.card-title Mpls.St.Paul Magazine Blogs
          h6.card-subtitle.mb-1.text-muted Kentico &amp; WordPress
          ul.list-unstyled
            li Design
            li CMS Integration
            li PHP
          a.btn.btn-secondary(href='http://mspmag.com/' target='_blank') Visit site
      .card.mb-3
        img.card-img-top.img-fluid(src='images/intermixbev.png')
        .card-block
          h5.card-title Intermix Beverage
          h6.card-subtitle.mb-1.text-muted WordPress
          ul.list-unstyled
            li Design
            li PHP, HTML &amp; CSS
          a.btn.btn-secondary(href='http://intermixbev.com/' target='_blank') Visit site
      .card.mb-3
        img.card-img-top.img-fluid(src='images/secretsofthecity.png')
        .card-block
          h5.card-title Secrets of the City
          h6.card-subtitle.mb-1.text-muted WordPress
          ul.list-unstyled
            li PHP, HTML &amp; CSS
          a.btn.btn-secondary(href='http://www.secretsofthecity.com/' target='_blank') Visit site
      //- 808 Loud
          Minnesota Beer Activists
          Year Round Brown Tanning Salons
          McKesson Better Thinking for Better Health
          Haldeman-Homme, Inc. | HH Best Lab

  section#about.py-3
    h2.display-4 About me
    .row
      .col-2.wow.flipInY(data-wow-offset='180' data-wow-duration='3s')
        img(src='images/roman-i.svg' width='100%' height='auto')
      .col-10
        ul.list-unstyled.list-unstyled
          li loathe gradients
          li endorse open source
          li overindulge with emojis
          li occasionally dream in code
          li usually prefer the DIY approach

  section#contact.py-3
    h2.display-4 Contact me
    form(action='https://formspree.io/david@808loud.com' method='POST')
      .form-group
        label.sr-only(for='name') Name
        input.form-control(type='text' name='name' placeholder='Name')
      .form-group
        label.sr-only(for='email') Email address
        input.form-control(type='email' name='_replyto' placeholder='Email address')
      .form-group
        label.sr-only(for='message') Message
        textarea.form-control(rows='5' name='message' placeholder='Message')
      input(type='text', name='_gotcha', style='display:none')
      .form-group
        button.btn.btn-primary(type="submit") Submit
    blockquote.blockquote.mt-3.wow.fadeInUp
      p
        | Everything should be made as simple as possible, but not simpler.
        br
        cite &ndash; Albert Einstein
