extends layouts/default

block content

  section#home.m-a-3
    h1.display-3 Hi, I'm David
    //- h2.h4 Welcome to my portfolio site.
    blockquote.blockquote
      p.text-nowrap
        | To simplify means<br>
        strike to eliminate the unnecessary so that<br>
        |  the necessary may speak.
        br
        cite
          strike &ensp;Hans Hofmann
          br
          |  &ndash; David Monson

  section#portfolio.clearfix.m-a-3
    h2 Portfolio
    .row
      .card-columns
        .card.col-xs
          img.card-img-top.img-fluid(src='http://placekitten.com/600/300')
          .card-block
            h4.card-title BringMeTheNews
            p.card-text I did stuff
            a.btn.btn-primary(href='http://bringmethenews.com/' target='_blank') See more
        .card.col-xs
          img.card-img-top
          .card-block
            h4.card-title Mpls.St.Paul Magazine Blogs
            p.card-text I did other stuff
            a.btn.btn-primary(href='http://mspmag.com/' target='_blank') See more
        .card.col-xs
          img.card-img-top
          .card-block
            h4.card-title Intermix Beverage
            p.card-text I made stuff
            a.btn.btn-primary(href='http://intermixbev.com/' target='_blank') See more
        .card.col-xs
          img.card-img-top
          .card-block
            h4.card-title Secrets of the City
            p.card-text Yeah
            a.btn.btn-primary(href='http://ww w.secretsofthecity.com/' target='_blank') See more
        .card.col-xs
          img.card-img-top
          .card-block
            h4.card-title 808 Loud
            p.card-text My site
            a.btn.btn-primary(href='http://808loud.com/' target='_blank') See more
        .card.col-xs
          img.card-img-top
          .card-block
            h4.card-title Minnesota Beer Activists
            p.card-text My site
            a.btn.btn-primary(href='http://mnbeeractivists.com/' target='_blank') See more
        .card.col-xs
          img.card-img-top
          .card-block
            h4.card-title Year Round Brown Tanning Salons
            p.card-text My site
            a.btn.btn-primary(href='http://yearroundbrown.com/' target='_blank') See more
        .card.col-xs
          img.card-img-top
          .card-block
            h4.card-title McKesson Better Thinking for Better Health
            p.card-text My site
            a.btn.btn-primary(href='http://betterhealth.mckesson.com/' target='_blank') See more
        .card.col-xs
          img.card-img-top
          .card-block
            h4.card-title Haldeman-Homme, Inc. | HH Best Lab
            p.card-text My site
            a.btn.btn-primary(href='http://hhbestlab.com/' target='_blank') See more

  section#about.m-a-3
    h2 About me
    section
      .container
        .row
          .col-xs-1.display-1.font-family-serif I
          .col-xs-11
            ul.list-unstyled
              //- li avoid clutter
              li admire Helvetica
              li appreciate perfection
              li prefer the DIY approach
              li occasionally dream in code
              li love vinyl, guitars, and mopeds
              li believe simpler is better


  section#contact.m-a-3
    h2 Contact me
    form(action='https://formspree.io/david@808loud.com' method='POST')
      .form-group
        label.sr-only(for='name') Name
        input.form-control(type='text' name='name' placeholder='Name')
      .form-group
        label.sr-only(for='email') Email address
        input.form-control(type='email' name='_replyto' placeholder='Email address')
      .form-group
        label.sr-only(for='message') Message
        textarea.form-control(rows='3' name='message' placeholder='Message')
      input(type='text', name='_gotcha', style='display:none')
      .form-group
        button.btn.btn-primary(type="submit") Submit

    blockquote.blockquote
      p.text-nowrap
        | Everything should be made as simple as possible, but not simpler.
        br
        cite &ndash; Albert Einstein
