doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title David Monson's Portfolio

    link(href='https://fonts.googleapis.com/css?family=Muli|Poppins' rel='stylesheet')

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet' href='styles/main.css')
    // endbuild

  body
    <!--[if lt IE 10]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    .container
      //- header
      //-   nav.navbar.navbar-light
      //-     button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#mainnav', aria-controls='mainnav', aria-expanded='false', aria-label='Toggle navigation')
      //-       | &#9776;
      //-     #mainnav.collapse.navbar-toggleable-xs
      //-       ul.nav.navbar-nav
      //-         a.nav-item.active.nav-link(href='#')
      //-           | Home
      //-           span.sr-only (current)
      //-         a.nav-item.nav-link(href='#portfolio') Portfolio
      //-         a.nav-item.nav-link(href='#about') About
      //-         a.nav-item.nav-link(href='#contact') Contact

      block content

      footer.footer
        // p &hearts;

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    //- script(src='/bower_components/modernizr/modernizr.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js
    //- script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='/bower_components/bootstrap/js/dist/collapse.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
